* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
}

.bg {
    position: absolute;
    inset: 0;
    /* border: 1rem solid blue; */
    background-image: url('./img/spati.png');
    background-size: contain;
    filter: url('#img-2');
}

.medo {
    position: relative;
    height: 35rem;
    width: 25rem;
    /* border: 10px solid red;
    overflow: hidden; */
    top: -20%;
    left: 1%;
    
}

.first {
    position: absolute;
}


/* .start {
    animation: zoom-in linear infinite 1.5s;
}

@keyframes zoom-in {
    0% {
        transform-origin: 48% 88%;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        transform-origin: 48% 88%;
        opacity: 0.1;
        transform: scale(3);
    }
} */


.medo-img {
    position: absolute;
    /* opacity: 0.1; */
    /* transform: translateX(-0.1rem) translateY(9.3rem) scale(0.17) rotateZ(-27deg); */
}

.medo-img.start {
    animation: start 3s ease-in infinite, grow 3s ease-in infinite;
}

.medo-img.fade-in {
    /* opacity: 0; */
    animation-delay: 2s;
    animation: grow 3s ease-in infinite, start 3s ease-in infinite;
}

@keyframes start {
    0% {
        opacity: 1;
    }


    100% {
        /* transform-origin: 48% 88%; */
        opacity: 0;
        transform:translateY(-10rem) scale(3);
    }
}

@keyframes grow {
    0% {
        opacity: 1;
        transform: translateX(-0.1rem) translateY(9.3rem) scale(0.17) rotateZ(-27deg);
    }

    10% {
        opacity: 0.8;
    }

    95% {
        opacity: 1;
        transform: translateX(0rem) translateY(0rem) scale(1) rotateZ(0deg);
        filter: drop-shadow(0 0 0.75rem rgb(13, 209, 13));
        /* transform-origin: 48% 88%; */
    }

}

  /* transform: translateX(5rem) translateY(24rem) scale(0.18) rotateZ(-27deg); */
  /* transform: translateX(4.9rem) translateY(24.2rem) scale(0.15) rotateZ(-27deg); */


